.carousel-item{
  height: 50vh;
}

.carousel-item > img { 
    width: 100%; 
}

@media (max-width: 600px) {
  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    margin: 1rem;
  }
}

/* About */
.section-heading{
  text-align: center;
  margin: 1.5rem auto 1rem;
}

.text-center{
  text-align: center;
}

.container{
  width: 80%;
  margin: 1rem auto;
}

.certification-list-container{
  width: 100%;
  margin: 1.5rem auto;
}

.section-sub-heading{
  margin: 1.5rem auto 1rem;
}

.certification-list{
  display: flex;
  justify-content: space-between;
}