.carousel-item {
  height: 100vh;
}

.carousel-item > img {
  width: 100%;
}

.container-section {
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  outline: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("./assets/menu.png");
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-light,
.bg-light {
  background-color: #2e4057 !important;
  color: #fff !important;
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.mk-appointment {
  background-color: #2e4057;
  padding: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 10rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid #2e4057;
}

.mk-appointment:visited {
  color: #fff;
}

.mk-appointment:hover {
  text-decoration: none;
  background-color: #fff;
  color: #2e4057;
}

.contact-text p {
  margin: 0;
}

.contact-card {
  width: 250px;
  padding: 1rem;
}

.mk-appointment-container {
  display: flex;
  justify-content: center;
}

/* About */
.section-heading {
  text-align: center;
  margin: 1.5rem auto 3.5rem;
  text-decoration: underline;
  color: #2e4057;
  text-decoration-color: #2e4057;
}

.text-center {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.section-container-text {
  font-size: 1.5rem;
}

.section-sub-heading {
  margin: 2.5rem auto 2.5rem;
}

.about-container {
}

.container-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 5rem auto;
}

/* Services */

.services-section {
  background-color: #e3f2fd;
  padding-top: 2.5rem;
  padding-bottom: 5.5rem;
}

.service-category-title {
  margin: 0;
}

.service {
  padding: 0.3rem;
  background-color: #2e4057;
  color: #fff;
  margin-bottom: 1rem;
}

.services-ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.services-ul li {
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.service-card {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: transform 1s;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.service-card:hover {
  transform: scale(1.1);
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.footer p {
  margin-bottom: 0;
  padding: 1rem;
}

.footer {
  text-align: center;
  background-color: #2e4057;
  color: #fff;
  margin-bottom: 0;
}

.contact-card-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

.contact-img img {
  display: inline-block;
}

.contact-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-title {
  margin-top: 1rem;
}

.contact-section {
}

@media (max-width: 600px) {

  .navbar-collapse {
    border-top: 1px solid white;
    margin-top: 1rem;
  }

  .nav-item {
    text-align: center;
  }

  .carousel-item {
    height: 40vh;
  }

  .navbar-nav {
    margin: 1rem;
  }

  .container,
  .services-container {
    width: 90%;
  }

  .services-container {
    justify-content: center;
  }

  .contact-card {
    margin-bottom: 2.5rem;
  }

  .mk-appointment {
    margin-top: 3rem;
  }

  .services-section .section-heading {
    margin-bottom: 0.5rem;
  }

  .container-section {
    margin-top: 0;
  }

  .section-container-text {
    text-align: center;
    font-size: 1.2rem;
  }
}
